<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Divide Application Home Page (Main)</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link href="styleSheet.css" rel="stylesheet">
		<script src="mainScript.js"></script>
		<script src="C:/xampp/htdocs/CMSC389N/CMSC389N - Group Project/Divide/Model/Demo/task.json"></script>
	</head>

    <body>
        <nav class="navbar bg-primary navbar-dark fixed-top">
            <a class="navbar-brand" href="#divide">Divide</a>
            <div class="dropdown pull-right">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" id="userButton">
                    <i class="fa fa-user-circle"></i> User
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="userProfile.html">Profile</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </nav>
        <br />
        <div class="container">
            <br /><br />
            <h3>Scrum Management Home Page</h3>
            <br />

			<ul class="nav nav-tabs" id="tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#storyBoard" id="homeTab">Story Board</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#backlog" id="backlogTab">Backlog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#project" id="projectTab">Project</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane container active" id="storyBoard">
					<br />
					<h6>Progress</h6>
					<div class="progress">
						<div class="progress-bar" style="width: 61.67%;">61.67%</div>
					</div>
					<hr />

					<div class="pull-right">
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#taskModal">
							<i class="fa fa-plus"></i> Create Task
						</button>
						<button type="button" class="btn btn-outline-primary" id="storyBoardUpdate">Update</button>
					</div>

					<div id="taskModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title">Create Task</h4>
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      </div>
					      <div class="modal-body">
									<strong>Description</strong>
									<textarea rows="3" cols="80" class="form-control" id="taskDescription"></textarea>
									<br /><br />
									<strong>Due Date</strong>
									<input type="date" name="due-date" class="form-control" id="taskDue" required />
									<br /><br />
									<strong>Assigned Member(s)</strong>
									<!--<input type="text" name="assignees" class="form-control" id="taskMembers" required /><br />-->
									<select name="members[]" multiple="multiple" style="width: 100%">
										<option value='a'>Ava</option>
										<option value='a'>Benjamin</option>
										<option value='a'>John</option>
										<option value='a'>William</option>
									</select>
									<br /><br />
									<strong>Related Project</strong>
									<input type="text" name="related-project" class="form-control" id="taskRelatedProjects" required /><br />
					      </div>
					      <div class="modal-footer">
					      	<input type="submit" name="submit" class="btn btn-outline-primary" value="Create" id="createTask" />
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>

					  </div>
					</div>
					<br /><br />

					<!-- Table implementation -->
					<table class="table table-striped table-bordered table-hover" id="sprintTable">
						<thead>
							<tr align="center">
								<th>Task</th>
								<th>ID</th>
								<th>Status</th>
								<th>Members</th>
								<th>Related Projects</th>
							</tr>
						</thead>
						<tbody id="tasks">
							<tr align="center">
								<td>Update header</td>
								<td>6</td>
								<td>
									<select name="studyType" id="studyType" class="form-control">
										<option value="In Progress" selected="selected">In Progress</option>
										<option value="Complete">Complete</option>
									</select>
								</td>
								<td>Ava</td>
								<td>EQT</td>
							</tr>
							<tr align="center">
								<td>Change bar color</td>
								<td>7</td>
								<td>
									<select name="studyType" id="studyType" class="form-control">
										<option value="In Progress" selected="selected">In Progress</option>
										<option value="Complete">Complete</option>
									</select>
								</td>
								<td>John</td>
								<td>EQT</td>
							</tr>
							<tr align="center">
								<td>Edit help page</td>
								<td>8</td>
								<td>
									<select name="studyType" id="studyType" class="form-control">
										<option value="In Progress">In Progress</option>
										<option value="Complete" selected="selected">Complete</option>
									</select>
								</td>
								<td>Benjamin</td>
								<td>PDA</td>
							</tr>
						</tbody>
					</table>

					<!-- Responsive columns implementation -->
					<!--<div class="row">
						<div class="col-sm-3 border" align="center">
							<h5><strong>To-do</strong></h5>
						</div>
						<div class="col-sm-3 border" align="center">
							<h5><strong>In Progress</strong></h5>
						</div>
						<div class="col-sm-3 border" align="center">
							<h5><strong>In Code Review</strong></h5>
						</div>
						<div class="col-sm-3 border" align="center">
							<h5><strong>QA</strong></h5>
						</div>
					</div>-->
					<p id="storyBoardMessage"></p>

				</div>

				<div class="tab-pane container fade" id="backlog">
					<br />
					<div class="pull-right">
						<button type="button" class="btn btn-outline-primary" id="backlogUpdate">Update</button>
					</div>
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr align="center">
								<th>Task Name</th>
								<th>Start On</th>
								<th>Due On</th>
								<th>% Complete</th>
							</tr>
						</thead>
						<tbody>
							<tr align="center">
								<td>Update header</td>
								<td>6/12/2018</td>
								<td>6/19/2018</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=50 /> %
								</td>
							</tr>
							<tr align="center">
								<td>Change bar color</td>
								<td>6/12/2018</td>
								<td>6/19/2018</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=35 /> %
								</td>
							</tr>
							<tr align="center">
								<td>Edit help page</td>
								<td>6/12/2018</td>
								<td>6/19/2018</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=100 /> %
								</td>
							</tr>
							<tr align="center">
								<td>Fix IE Bug</td>
								<td>N/A</td>
								<td>N/A</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=0 /> %
								</td>
							</tr>
							<tr align="center">
								<td>Add popup box</td>
								<td>N/A</td>
								<td>N/A</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=0 /> %
								</td>
							</tr>
							<tr align="center">
								<td>Add night mode</td>
								<td>N/A</td>
								<td>N/A</td>
								<td>
									<input type="number" class="form-control" min="0" max="100" value=0 /> %
								</td>
							</tr>
						</tbody>
					</table>

					<p id="backlogMessage"></p>

				</div>

				<div class="tab-pane container fade" id="project">
					<br />
					<div class="pull-right">
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#projectModal">
							<i class="fa fa-plus"></i> Create Project
						</button>
						<button type="button" class="btn btn-outline-primary" id="projectUpdate">Update</button>
					</div>

					<div id="projectModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title">Create Project</h4>
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      </div>
					      <div class="modal-body">
									<strong>Description</strong>
									<textarea rows="3" cols="80" class="form-control"></textarea>
									<br /><br />
									<strong>Assigned Member(s)</strong>
									<select name="members[]" multiple="multiple" style="width: 100%">
										<option value='a'>Ava</option>
										<option value='a'>Benjamin</option>
										<option value='a'>John</option>
										<option value='a'>William</option>
									</select>
					      </div>
					      <div class="modal-footer">
					      	<button type="button" name="submit" class="btn btn-outline-primary" value="Create" id="createProject" />Create
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>

					  </div>
					</div>
					<br /><br />

					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr align="center">
								<th>Description</th>
								<th>Manager</th>
								<th>Members</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody id="projects">
							<tr align="center">
								<td>EQT</td>
								<td>William</td>
								<td>Ava, John</td>
								<td>
									<select name="studyType" id="studyType" class="form-control">
										<option value="In Progress" selected="selected">In Progress</option>
										<option value="Complete">Complete</option>
									</select>
								</td>
							</tr>
							<tr align="center">
								<td>PDA</td>
								<td>Benjamin</td>
								<td>Paul</td>
								<td>
									<select name="studyType" id="studyType" class="form-control">
										<option value="In Progress" selected="selected">In Progress</option>
										<option value="Complete">Complete</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>

					<p id="projectMessage"></p>

				</div>
			</div>
		</div>
	</body>
</html>
