<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Divide Application Login Page</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="styleSheet.css">
		<script src="loginScript.js"></script>
	</head>

	<body>
		<div class="container">
			<br />
			<h1>Divide Application System</h1>
			<br />
			<h3>Login Page</h3>
			<br />
			<strong>Username:</strong>
			<input type="text" name="user" id="user" class="form-control" placeholder="Username" required />
			<br />
			<strong>Password:</strong>
			<input type="password" name="pwd" id="pwd" class="form-control" placeholder="Password" required />
			<br />
			<input type="button" name="login" class="btn btn-outline-primary btn-block" value="Login" />
			<p id="message"></p>
		</div>
	</body>
</html>
