<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Divide Application Signup Page</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="styleSheet.css">

	</head>

	<body>
		<div class="container">
			<br />
			<h1>Divide Application System</h1>
			<br />
			<h3>Sign Up Page</h3>
			<br />
			<strong>First Name:</strong>
			<input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required />
			<br />
			<strong>Last Name:</strong>
			<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required />
			<br />
			<strong>Email Address:</strong>
			<input type="email" name="emailAdd" id="emailAdd" class="form-control" placeholder="firstInitLastName@example.com" required />
			<br />
			<strong>Username:</strong>
			<input type="text" name="user" id="user" class="form-control" placeholder="Username" required />
			<br />
			<strong>Password:</strong>
			<input type="password" name="pwd" id="pwd" class="form-control" placeholder="Password" required />
			<br />
			<strong>Position:</strong>
			<input type="text" name="pos" id="pos" class="form-control" placeholder="Position" required />
			<br />
			<strong>Team:</strong>
			<input type="text" name="team" id="team" class="form-control" placeholder="Team name" required />
			<br />
			<input type="button" name="signup" class="btn btn-outline-primary btn-block" value="Sign Up" />

			<p id="message"></p>
		</div>
	</body>
</html>
