// Main style sheet
.border {
  border: 1px solid gray;
}

h5 {
  margin-top: 5px;
}

.fa {
  padding-right: 3px;
}

.signUp {
	padding-top: 4px;
	font-size: 14px;
	color: rgb(0, 123, 255);
	text-align: center;
}

.signUp:hover {
	text-decoration: underline;
	cursor: pointer;
}

.modal-content {
	width: 600px;
}

.modal-body {
	width: 600px;
	font-size: 14px;
}

.stat {
  width: unset;
}

.num {
  width: 100px;
}

.hide {
  display: none;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}
