// Main style sheet
.border {
  border: 1px solid gray;
}

h5 {
  margin-top: 5px;
}

.fa {
  padding-right: 3px;
}

.nav-item {
  display: inline;
}

.signUp {
	padding-top: 4px;
	font-size: 14px;
	color: rgb(0, 123, 255);
	text-align: center;
}

.signUp:hover {
	text-decoration: underline;
	cursor: pointer;
}
